<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link href="http://cdn.kendostatic.com/2014.1.318/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="http://cdn.kendostatic.com/2014.1.318/styles/kendo.metro.min.css" rel="stylesheet" type="text/css" />    
        <link href="http://cdn.kendostatic.com/2014.1.318/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
        <link href="http://cdn.kendostatic.com/2014.1.318/styles/kendo.dataviz.metro.min.css" rel="stylesheet" type="text/css" />
        <script src="http://cdn.kendostatic.com/2014.1.318/js/jquery.min.js"></script>
        <script src="http://cdn.kendostatic.com/2014.1.318/js/kendo.all.min.js"></script>  
        <script src="http://cdn.kendostatic.com/2014.1.318/js/kendo.aspnetmvc.min.js"></script>
        <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script> 
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <title>Northwind Dashboard</title>
    </head>
    <body> 
         <div class="wrapper">  
            <!-- top navbar -->
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
               <div class="container-fluid">
                    <div class="row">        
                        <!-- sidebar -->           
                        <div class="navbar-header column col-xs-6 col-sm-3">
                           <h1 id="dash-logo" class="navbar-brand">Northwind &#183; Dash</h1>
                        </div>
                        <div id="test" class="col-xs-6">
                              <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                                 <span class="icon-bar"></span>
                                 <span class="icon-bar"></span>
                                 <span class="icon-bar"></span>
                               </button>
                        </div>
                     
            </div></div></div>
      
            <div class="container-fluid">
              <div class="row row-offcanvas row-offcanvas-left">        
                <!-- sidebar -->
                <div class="column col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
              @*      <h1 id="dash-logo" class="navbar-brand">Northwind &#183; Dash</h1>*@
                    <ul class="nav">
                        <li><a href=@(Url.Action("RegionalSalesStatus", "Home"))#" id="RegionalSalesStatus">Regional Sales Status</a></li>
                        <li><a href="@(Url.Action("ProductsAndOrders", "Home"))" id="ProductsAndOrders">Products &amp; Orders</a></li>
                        <li><a href="@(Url.Action("TeamEfficiency", "Home"))" id="TeamEfficiency">Team Efficiency</a></li>
                        <li><a href="@(Url.Action("About", "Home"))" id="About">About</a></li>    
                    </ul>
                </div>   
                <!-- main -->
                <div class="column col-xs-12 col-sm-9">
                    <div> @RenderBody()</div>         
                </div>
            </div>
          </div>
        </div>
        <script>
            $(document).ready(function () {
                $('[data-toggle=offcanvas]').click(function () {
                    $('.row-offcanvas').toggleClass('active');
                });
            });
            </script>
    </body>
</html>
