<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link href="http://cdn.kendostatic.com/2013.3.1324/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="http://cdn.kendostatic.com/2013.3.1324/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
        <link href="http://cdn.kendostatic.com/2013.3.1324/styles/kendo.metro.min.css" rel="stylesheet" type="text/css" />
        <link href="http://cdn.kendostatic.com/2013.3.1324/styles/kendo.dataviz.metro.min.css" rel="stylesheet" type="text/css" />
        <script src="http://cdn.kendostatic.com/2013.3.1324/js/jquery.min.js"></script>
        @*<script src="http://cdn.kendostatic.com/2013.3.1324/js/kendo.all.min.js"></script>*@
        <script src="@Url.Content("~/Scripts/kendo.all.js")"></script>
        <script src="http://cdn.kendostatic.com/2013.3.1324/js/kendo.aspnetmvc.min.js"></script>
        <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

   
</head>
    <body> 
       @* <div id="body">*@
            <div class="container-fluid">
                <div class="row">
                    <div id="sidebar" class="column sidebar" style="">
                          <h1 id="dash-logo">Northwind &#183; Dash</h1>
                          <ul id="main-nav">
                            <li><a href="#" id="regions">Regional Sales Status</a></li>
                            <li><a href="@(Url.Action("Orders", "Home"))" id="products" class="active">Products &amp; Orders</a></li>
                            <li><a href="@(Url.Action("Employees", "Home"))" id="team">Team Efficiency</a></li>
                            <li><a href="#" id="about">About</a></li>
                          </ul>
                    </div>
                    <div id="main" class="column main" style="bottom: 0;">
                        @RenderBody()
                    </div>
                </div>
            </div>
           @* <div id="content" class="container" style="border:1px solid green">
                @RenderBody()
            </div>*@
        @*</div> *@
    </body>
</html>
