<!DOCTYPE html>
<html>
<head>
    <title>ASP.NET MVC Dashboard Sample App Demo | Telerik UI for ASP.NET MVC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="See how you can create sales and analyst dashboard with the help of the powerful Telerik UI for ASP.NET MVC components. Track sales & other important KPIs.">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/deelop/default/default-main.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2025.3.1002/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2025.3.1002/js/kendo.aspnetmvc.min.js"></script>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-6X92" height="0" width="0" style="display: none; visibility: hidden"></iframe>
  </noscript>
  <script>(function(w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-6X92');</script>
  <!-- End Google Tag Manager -->
    <div class="container-fluid"><!--open container-->
        <div class="row row-offcanvas row-offcanvas-left"><!--open row-->
            <div id="nav-section" class="col-xs-12 column"><!--open nav column-->
            <div class="navbar-default">
                <button id="toggle-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <h1 id="dash-logo" class="center-block">Northwind&#183;Dash</h1>
            <div class="collapse navbar-collapse" id="sidebar-nav" role="navigation">
                <ul class="nav">
                    <li id="RegionalSalesStatus"><a href="@(Url.Action("RegionalSalesStatus", "Home"))" ><span class="icon icon-chart-column"></span>Regional Sales Status</a></li>
                    <li id="ProductsAndOrders"><a href="@(Url.Action("ProductsAndOrders", "Home"))" ><span class="icon icon-star-empty"></span>Products &amp; Orders</a></li>
                    <li id="TeamEfficiency"><a href="@(Url.Action("TeamEfficiency", "Home"))" ><span class="icon icon-faves"></span>Team Efficiency</a></li>
                    <li id="About"><a href="@(Url.Action("About", "Home"))" ><span class="icon icon-info"></span>About</a></li>
                </ul>
                <div id="rights">
                    <p>Copyright © @DateTime.Now.Year Progress Software Corporation and/or its subsidiaries or affiliates. All Rights Reserved.</p>
                </div>
            </div>
            </div><!--close left column-->
            <div id="main-section" class="col-xs-12 column"><!--open main column-->
               @RenderBody()
        </div><!--close main column-->
        </div><!--close row-->
    </div><!--close container-->

    <script>
        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $('.row-offcanvas').toggleClass('active');
            });
        });
    </script>
</body>
</html>
